.hovereffektplus{
    background-color: hotpink;

}
/* Festlegung der Farbe in css datei statt in components um kein important stzen zu mmüssen (siehe unten) */

.hovereffektplus:hover{
    color: #ffcffd;
    background-color: #641b5a;
    border-color: #ffcffd;
  }

/* effekt der auftreten soll wenn man drüber hovert */

.hovereffektplus:hover + .hiddenuntilhoverplus{
    display: inline-block;
} 

/* hiddenuntilhover text ist "unsichtbar" bis darüber gehovert wird und ist spezifischer da über + display: none mit display
inline block überschrieben wird */

.hovereffektminus:hover{
    color: #d8ffe4;
    background-color: #187464 !important;
    border-color: #d8ffe4;
  }


.hovereffektminus:hover + .hiddenuntilhoverminus {
    display: inline-block;
  }

.hiddenuntilhoverplus {
    display: none 
    
}

/* Zustand des Textes wenn nicht gehovert wird (none) */

.hiddenuntilhoverminus {
    display: none;

}

.transition-all {
    transition: all 0.3s ease 0s
}

/* fügt der component einen transition effekt hinzu (wurde seperat hinzugefügt) */


body{
  background: #6be1d7;
  vertical-align:middle;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.ofa_button
    {background-color: #0e4d0c; color: #FFFFFF; padding: 10px; text-align: center; font-size: 16px;
    border: 5px solid #FFFFFFFF; /* Ein transparenter Rahmen */
    transition: 0.4s;
    text-align: center;
    display: block;
    margin: 40px; 
    width: 200px;   
    
  
  } /* Alle Eigenschaften werden animiert */
    

.ofa_button:hover
    {
    background-color: #FFFFFF;
    color: #000000;
    border: 5px solid #0e4d0c;
    }

 .ueberschrift {
  font-size: 150%;
  margin-left: 40px;
 }

 .remainHighlight {
  background-color: #FFFFFF;
    color: #000000;
    border: 5px solid #0e4d0c;
    padding: 10px; 
    text-align: center; 
    font-size: 16px;
    transition: 0.4s;
    display: block;
    margin: 40px; 
    width: 200px;   
      
    
    
 }

 

  

